<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.ClienteMapper">
<resultMap type="py.pol.una.ii.pw.model.Clientes" id="ResultCliente">
	<id property="id" column="id"/>
	<result property="nombre" column="nombre"/>
</resultMap>

<resultMap type="java.util.List" id="listaClientes">
	<association property="cliente" resultMap="ResultCliente"/>
</resultMap>
  <select id="selectClientes" resultType="py.pol.una.ii.pw.model.Clientes">
  	select * from Clientes order by nombre asc
  </select>
  <select id='getClienteById' parameterType='long' resultType="py.pol.una.ii.pw.model.Clientes">
	select * from Clientes where id = #{clienteId}
  </select>
  <delete id='removeCliente' parameterType='long'>
	delete from clientes where id = #{clienteId}
  </delete>
  <insert id="createCliente" parameterType="py.pol.una.ii.pw.model.Clientes" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
	insert into Clientes (nombre) values (#{nombre})
  </insert>
  <update id="updateCliente" parameterType="py.pol.una.ii.pw.model.Clientes">
	update clientes set nombre=#{nombre}, where id=#{id}
  </update>
</mapper>
