<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.ProveedorMapper">

<resultMap type="py.pol.una.ii.pw.model.Proveedores" id="ProveedorResult">
   <id property="id" column="id"/>
   <result property="nombre" column="nombre"/>
</resultMap> 
   <select id="getAllProveedores" resultType="py.pol.una.ii.pw.model.Proveedores">
   	select * from proveedores order by nombre
   </select>
   <select id='getProveedorById' parameterType='long' resultType="py.pol.una.ii.pw.model.Proveedores">
	     select * from proveedores where id=#{proveedorId}
   </select>
   <delete id='removeProveedor' parameterType='long'>
	delete from proveedores where id = #{proveedorId}
   </delete>
   <select id="getIdProveedor" resultType="long">
   	nextval('idProveedor')
   </select>
   <insert id="createProveedor" parameterType="py.pol.una.ii.pw.model.Proveedores" useGeneratedKeys="true" keyProperty="id" keyColumn="id">

	insert into proveedores (nombre) values (#{nombre})
   
   </insert>

<update id="updateProveedor" parameterType="py.pol.una.ii.pw.model.Proveedores">

	update proveedores
	set
		nombre=#{nombre}
		
	where id=#{id}

</update>
</mapper>
